{% extends 'base.html.twig' %}

{% block title %}Modifier la tâche : {{ task.name }}{% endblock %}

{% block body %}
    <div class="form-width container mx-auto px-4 py-6">
        <h1 class="text-2xl font-bold mb-4">Modifier la tâche : {{ task.name }}</h1>

        {{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}
        <div>
            {{ form_label(form.name, null, {'attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 bg-gray-100 focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50'}}) }}
            {{ form_errors(form.name) }}
        </div>

        <div>
            {{ form_label(form.description, null, {'attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'mt-1 block w-full rounded-md border-gray-300 bg-gray-100 focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50'}}) }}
            {{ form_errors(form.description) }}
        </div>

        <div>
            {{ form_widget(form.submit, {'attr': {'class': 'w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
